<!DOCTYPE html>

<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" href="UI Kit.min.css">
		<link rel="stylesheet" href="/Styles.css">
		<link rel="shortcut icon" href="/info.svg" type="image/x-icon">

		<script src="UI Kit.min.js"></script>
		<script src="UI Kit Icons.min.js"></script>

		<title>ALB Engineering | За Нас</title>
	</head>



	<body>

		<section id="TOP" style="height: 200px;" class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light" data-src="Pic 2.jpg" uk-img>
			<h2 style="text-align: center;">ALB Engineering | За Нас</h2>
		</section>



		<section uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: #transparent-sticky-navbar">
			<nav class="uk-navbar-container" uk-navbar style="background-color: #F7F7F7; position: relative; z-index: 980;">
				<div style="justify-content: space-between; width: 100%;" class="uk-navbar-left">

					<ul class="Navigation uk-navbar-nav">
						<li><a href="/"><img style="width: 192px;" src="/Logo.png" draggable="false"></a></li>
						<li><a href="/">НАЧАЛО</a></li>
						<li>
							<a href="/projects">НАШИТЕ ПРОЕКТИ</a>
							<div uk-dropdown="pos: bottom-justify">
								<ul class="uk-nav uk-dropdown-nav">
									<li><a href="/projects#Битумни-Хидроизолации">Битумни Хидроизолации</a></li>
									<li class="uk-nav-divider"></li>
									<li><a href="/projects#Тераси">Тераси</a></li>
									<li class="uk-nav-divider"></li>
									<li><a href="/projects#Цветарници">Цветарници</a></li>
									<li class="uk-nav-divider"></li>
									<li><a href="projects#Улуци">Улуци</a></li>
									<li class="uk-nav-divider"></li>
									<li><a href="/projects#Реконструкция-На-Метални-Покриви">Реконструкция На<br>Метални Покриви</a></li>
									<li class="uk-nav-divider"></li>
									<li><a href="/projects#Поставяне-На-Хидроизолации-На-Нови-Покриви">Поставяне На<br>Хидроизолации На<br>Нови Покриви</a></li>
									<li class="uk-nav-divider"></li>
									<li><a href="/projects#Дървени-Конструкции">Дървени Конструкции</a></li>
									<li class="uk-nav-divider"></li>
									<li><a href="/projects#Тунели">Тунели</a></li>
									<li class="uk-nav-divider"></li>
									<li><a href="/projects#Хвостохранилища">Хвостохранилища</a></li>
									<li class="uk-nav-divider"></li>
									<li><a href="/projects#Резервоари-За-Противопожарна-Защита">Резервоари За<br>Противопожарна Защита</a></li>
									<li class="uk-nav-divider"></li>
									<li><a href="/projects#Реконструкция-На-Битумна-Хидроизолация">Реконструкция На<br>Битумна Хидроизолация</a></li>
								</ul>
							</div>
						</li>
						<li style="font-weight: bold;" class="uk-active"><a>ЗА НАС</a></li>
						<li><a href="/contacts">КОНТАКТИ</a></li>
					</ul>

					<ul class="uk-navbar-nav">
						<li>
							<a class="uk-inline">
								<img style="width: 48px;" src="/Clock.svg" draggable="false">
								<div uk-drop="pos: bottom">
									<div style="text-align: center;" class="uk-card uk-card-body uk-card-default">
										<span style="font-weight: 600;">Работно Време</span><br><hr>
										<span style="font-weight: 600;">Понеделник - Събота</span><br>
										<span style="font-weight: 600;">8:00 - 18:00</span>
									</div>
								</div>
							</a>
						</li>
						<li>
							<a href="tel: +359 885 588031" class="uk-inline">
								<img style="width: 48px;" src="/phone.svg" draggable="false">
								<div uk-drop="pos: bottom">
									<div style="text-align: center;" class="uk-card uk-card-body uk-card-default">
										<span style="pointer-events: none; font-weight: 600;">Телефон За Връзка</span>
										<br><hr>
										<span style="font-weight: 600;">+359 885 588031</span>
									</div>
								</div>
							</a>
						</li>
						<li>
							<a href="mailto:office@alb-engineering.com" class="uk-inline">
								<img style="width: 48px;" src="/email.svg" draggable="false">
								<div uk-drop="pos: bottom">
									<div style="text-align: center;" class="uk-card uk-card-body uk-card-default">
										<span style="pointer-events: none; font-weight: 600;">Имейл Адрес</span>
										<br><hr>
										<span style="font-weight: 600;">office@alb-engineering.com</span>
									</div>
								</div>
							</a>
						</li>
						<li><a href="https://www.facebook.com/ALBengineering/" target="_blank"><img style="width: 48px;" src="/facebook.svg" draggable="false"></a></li>
					</ul>

				</div>
			</nav>
		</section><br>



		<h2 style="text-align: center;">АЛБ Инженеринг ООД</h2>
		<section>
			<div class="uk-child-width-1-2@m" uk-grid uk-scrollspy="cls: uk-animation-fade; target: .uk-card; delay: 200; repeat: false">
				<div class="uk-card uk-card-body uk-inline uk-dark">
					<div class="uk-child-width-expand@s" uk-grid>
						<h3 style="text-align: center;">АЛБ Инженеринг Извършва :</h3>
					</div><br>
					<ul style="margin: 0 auto; width: 60%; padding: 0px 40px;" class="uk-list uk-list-divider">
						<li>Монтаж На Плоски Покривни Системи</li>
						<li>Изграждане И Ремонт На Скатни Покриви И Конструкции</li>
						<li>Хидроизолации На Фундаменти, Тераси, Резервоари И Басейни</li>
						<li>Хидроизолационни Системи На Тунели И Мостове И Много Други</li>
					</ul>
				</div>

				<div class="uk-card uk-card-body uk-inline uk-dark">
					<img class="Thumbnail" style="display: block; width: 768px; margin: 0 auto; border-radius: 6.25px;" src="/Thumbnail 1.png" draggable="false">
				</div>
			</div>
		</section>

		<section class="uk-child-width-1-3@m uk-grid-match" style="padding: 0px 40px;" uk-grid>
			<div>
				<div class="uk-card uk-card-body" uk-scrollspy="cls: uk-animation-slide-left; repeat: false">
					<img src="Waterproof Fabric.png" draggable="false" style="width: 64px; margin: 0 auto; display: block;">
					<h3 style="text-align: center;">Полагане На Нова Хидроизолация</h3>
					<p style="text-align: center;">Подбор На Материали И Технология И Полагане На Хидроизлоация На Новостроящи Се Обекти</p>
				</div>
			</div>

			<div>
				<div class="uk-card uk-card-body" uk-scrollspy="cls: uk-animation-slide-bottom; repeat: false">
					<img src="Search.png" draggable="false" style="width: 64px; margin: 0 auto; display: block;">
					<h4 style="text-align: center;">Ремонтни Дейности</h4>
					<p style="text-align: center;">Идентифициране На Дефекти И Тяхното Отстраняване В Съществуващи Покриви И Хидроизолации</p>
				</div>
			</div>

			<div>
				<div class="uk-card uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; repeat: false">
					<img src="Roof.png" draggable="false" style="width: 64px; margin: 0 auto; display: block;">
					<h4 style="text-align: center;">Строителни Дейности</h4>
					<p style="text-align: center;">Монтаж На Плоски Покривни Системи И Други</p>
				</div>
			</div>
		</section><br>

		<section class="uk-column-1-3 uk-column-divider" style="padding: 0px 40px;">
			<p uk-scrollspy="cls: uk-animation-slide-left; repeat: false" class="Experience" style="font-size: 24px; text-align: center;"><span>15</span> Години Опит</p>
			<p uk-scrollspy="cls: uk-animation-slide-bottom; repeat: false" class="Experience" style="font-size: 24px; text-align: center;"><span>130</span> Завършени Обекта</p>
			<p uk-scrollspy="cls: uk-animation-slide-right; repeat: false" class="Experience" style="font-size: 24px; text-align: center;"><span>5</span> Години Гаранция</p>
		</section><br><br>

		<h3 style="text-align: center;">Защо Да Изберете АЛБ Инженеринг ?</h3><br><br>
		<ul uk-accordion="multiple: true" style="padding: 0px 40px; width: 50%; margin: 0 auto;">
			<li class="uk-open">
				<a class="uk-accordion-title" href="#">Предоставяме Персофиницирани Услуги Спрямо Вашите Нужди</a>
				<div class="uk-accordion-content">
					<p style="text-align: justify;">Първата цел на АЛБ Инженеринг е да разбере нуждите на клиента, за да предостави най-подходящите решения на най-достъпната цена. Ние ще предоставим баланс на цена-качество, за да останете удовлетворени от нас и за да разрешим най-качествено поставената задача.</p>
				</div>
			</li>

			<li>
				<a class="uk-accordion-title" href="#">Предоставяме Индивидуална Консултация</a>
				<div class="uk-accordion-content">
					<p style="text-align: justify;">Нашият процес започва със стандартен въпросник, за да се ориентираме в ситуацията. След това уговаряме среща в удобно за Вас време, за да направим оглед на място, да преценим условията и да направим кратка, но съдържателна консултация за възможните решения. Ние консултираме, Вие избирате решението.</p>
				</div>
			</li>

			<li>
				<a class="uk-accordion-title" href="#">Квалифициран Персонал С Богат Опит</a>
				<div class="uk-accordion-content">
					<p style="text-align: justify;">Нашият екип работи повече от 15 години на пазара. Имаме изпълнени над 150 обекта.</p>
				</div>
			</li>

			<li>
				<a class="uk-accordion-title" href="#">Работим В Цялата Страна</a>
				<div class="uk-accordion-content">
					<p style="text-align: justify;">Независимо къде се намирате, ние ще дойдем при Вас, защото предоставяме услуги в цялата страна.</p>
				</div>
			</li>
		</ul><br><br><br>

		<button style="display: block; margin: 0 auto 50px auto;" class="uk-button uk-button-primary" href="#TOP" uk-scroll>ВЪРНИ СЕ В НАЧАЛОТО</button>

	</body>

</html>