<!DOCTYPE html>

<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" href="UI Kit.min.css">
		<link rel="stylesheet" href="/Styles.css">
		<link rel="shortcut icon" href="/Hammer.svg" type="image/x-icon">
 
		<script src="UI Kit.min.js"></script>
		<script src="UI Kit Icons.min.js"></script>

		<title>ALB Engineering | Начало</title>
	</head>



	<body>

		<section id="TOP" class="uk-height-large uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light" data-src="Cover.png" uk-img>
			<h3>
				<div style="font-size: 32px; font-weight: 700; text-align: center;">АЛБ Инженеринг</div><br>
				<div style="font-weight: 350; text-align: center;">Проектиране И Поставяне На Хидроизолации От Най-Висок Клас</div><br>
				<div style="text-align: center;">
					<a class="uk-button uk-button-default" style="margin-bottom: 6.25px; text-align: center;" href="/projects">ВИЖ ПРОЕКТИТЕ НИ</a>
					<a class="uk-button uk-button-default" style="margin-bottom: 6.25px; text-align: center;" href="/contacts">СВЪРЖИ СЕ С НАС</a>
				</div>
			</h3>
		</section>



		<section uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: #transparent-sticky-navbar">
			<nav class="uk-navbar-container" uk-navbar style="background-color: #F7F7F7; position: relative; z-index: 980;">
				<div style="justify-content: space-between; width: 100%;" class="uk-navbar-left">

					<ul class="uk-navbar-nav">
						<li><a><img style="width: 192px;" src="/Logo.png" draggable="false"></a></li>
						<li class="uk-active"><a style="font-weight: bold;">НАЧАЛО</a></li>
						<li>
							<a href="/projects">НАШИТЕ ПРОЕКТИ</a>
							<div uk-dropdown="pos: bottom-justify">
								<ul class="uk-nav uk-dropdown-nav">
									<li><a href="/projects#Битумни-Хидроизолации">Битумни Хидроизолации</a></li>
									<li class="uk-nav-divider"></li>
									<li><a href="/projects#Тераси">Тераси</a></li>
									<li class="uk-nav-divider"></li>
									<li><a href="/projects#Цветарници">Цветарници</a></li>
									<li class="uk-nav-divider"></li>
									<li><a href="projects#Улуци">Улуци</a></li>
									<li class="uk-nav-divider"></li>
									<li><a href="/projects#Реконструкция-На-Метални-Покриви">Реконструкция На<br>Метални Покриви</a></li>
									<li class="uk-nav-divider"></li>
									<li><a href="/projects#Поставяне-На-Хидроизолации-На-Нови-Покриви">Поставяне На<br>Хидроизолации На<br>Нови Покриви</a></li>
									<li class="uk-nav-divider"></li>
									<li><a href="/projects#Дървени-Конструкции">Дървени Конструкции</a></li>
									<li class="uk-nav-divider"></li>
									<li><a href="/projects#Тунели">Тунели</a></li>
									<li class="uk-nav-divider"></li>
									<li><a href="/projects#Хвостохранилища">Хвостохранилища</a></li>
									<li class="uk-nav-divider"></li>
									<li><a href="/projects#Резервоари-За-Противопожарна-Защита">Резервоари За<br>Противопожарна Защита</a></li>
									<li class="uk-nav-divider"></li>
									<li><a href="/projects#Реконструкция-На-Битумна-Хидроизолация">Реконструкция На<br>Битумна Хидроизолация</a></li>
								</ul>
							</div>
						</li>
						<li><a href="/about">ЗА НАС</a></li>
						<li><a href="/contacts">КОНТАКТИ</a></li>
					</ul>

					<ul class="uk-navbar-nav">
						<li>
							<a class="uk-inline">
								<img style="width: 48px;" src="/Clock.svg" draggable="false">
								<div uk-drop="pos: bottom">
									<div style="text-align: center;" class="uk-card uk-card-body uk-card-default">
										<span style="font-weight: 600;">Работно Време</span><br><hr>
										<span style="font-weight: 600;">Понеделник - Събота</span><br>
										<span style="font-weight: 600;">8:00 - 18:00</span>
									</div>
								</div>
							</a>
						</li>
						<li>
							<a href="tel: +359 885 588031" class="uk-inline">
								<img style="width: 48px;" src="/phone.svg" draggable="false">
								<div uk-drop="pos: bottom">
									<div style="text-align: center;" class="uk-card uk-card-body uk-card-default">
										<span style="pointer-events: none; font-weight: 600;">Телефон За Връзка</span>
										<br><hr>
										<span style="font-weight: 600;">+359 885 588031</span>
									</div>
								</div>
							</a>
						</li>
						<li>
							<a href="mailto:office@alb-engineering.com" class="uk-inline">
								<img style="width: 48px;" src="/email.svg" draggable="false">
								<div uk-drop="pos: bottom">
									<div style="text-align: center;" class="uk-card uk-card-body uk-card-default">
										<span style="pointer-events: none; font-weight: 600;">Имейл Адрес</span>
										<br><hr>
										<span style="font-weight: 600;">office@alb-engineering.com</span>
									</div>
								</div>
							</a>
						</li>
						<li><a href="https://www.facebook.com/ALBengineering/" target="_blank"><img style="width: 48px;" src="/facebook.svg" draggable="false"></a></li>
					</ul>

				</div>
			</nav>
		</section><br>

		<h2 style="text-align: center;">Видове Дейности</h2>
		<h4 style="text-align: center;">АЛБ Инженеринг Изпълнява Широка Гама От Услуги В Областта На Хидроизолациите</h4>

		<section class="uk-child-width-1-5@m uk-grid-match" style="padding: 0px 40px;" uk-grid>
			<div>
				<div class="uk-card uk-card-body" uk-scrollspy="cls: uk-animation-slide-left; repeat: false">
					<a href="/projects#Битумни-Хидроизолации"><img src="2-min.jpg" draggable="false" style="width: 300px; height: 256px; margin: 0 auto; border-radius: 6.25px; display: block;"></a>
					<img src="/Icon 1.png" style="width: 56px; margin: 12.5px auto 0px auto; display: block;" draggable="false">
					<h4 style="text-align: center; margin-top: 0px;">Битумна хидроизолация</h4>
				</div>
			</div>

			<div>
				<div class="uk-card uk-card-body" uk-scrollspy="cls: uk-animation-slide-left; repeat: false">
					<a href="/projects#Тераси"><img src="11-min.jpg" draggable="false" style="width: 300px; height: 256px; margin: 0 auto; border-radius: 6.25px; display: block;"></a>
					<img src="/Icon 2.png" style="width: 56px; margin: 12.5px auto 0px auto; display: block;" draggable="false">
					<h4 style="text-align: center; margin-top: 0px;">Тераси</h4>
				</div>
			</div>

			<div>
				<div class="uk-card uk-card-body" uk-scrollspy="cls: uk-animation-slide-left; repeat: false">
					<a href="/projects#Реконструкция-На-Битумна-Изолация"><img src="60-min.jpg" draggable="false" style="width: 300px; height: 256px; margin: 0 auto; border-radius: 6.25px; display: block;"></a>
					<img src="/Icon 3.png" style="width: 56px; margin: 12.5px auto 0px auto; display: block;" draggable="false">
					<h4 style="text-align: center; margin-top: 0px;">Реконструкция На Битумна Изолация</h4>
				</div>
			</div>

			<div>
				<div class="uk-card uk-card-body" uk-scrollspy="cls: uk-animation-slide-left; repeat: false">
					<a href="/projects#Цветарници"><img src="22-min.jpg" draggable="false" style="width: 300px; height: 256px; margin: 0 auto; border-radius: 6.25px; display: block;"></a>
					<img src="/Icon 4.png" style="width: 56px; margin: 12.5px auto 0px auto; display: block;" draggable="false">
					<h4 style="text-align: center; margin-top: 0px;">Цветарници</h4>
				</div>
			</div>

			<div>
				<div class="uk-card uk-card-body" uk-scrollspy="cls: uk-animation-slide-left; repeat: false">
					<a href="/projects#Улуци"><img src="39-min.jpg" draggable="false" style="width: 300px; height: 256px; margin: 0 auto; border-radius: 6.25px; display: block;"></a>
					<img src="/Icon 5.png" style="width: 56px; margin: 12.5px auto 0px auto; display: block;" draggable="false">
					<h4 style="text-align: center; margin-top: 0px;">Улуци</h4>
				</div>
			</div>

			<div>
				<div class="uk-card uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; repeat: false">
					<a href="/projects#Реконструкция-На-Метални-Покриви"><img src="49-min.jpg" draggable="false" style="width: 300px; height: 256px; margin: 0 auto; border-radius: 6.25px; display: block;"></a>
					<img src="/Icon 6.png" style="width: 56px; margin: 12.5px auto 0px auto; display: block;" draggable="false">
					<h4 style="text-align: center; margin-top: 0px;">Реконструкция На Метални Покриви</h4>
				</div>
			</div>

			<div>
				<div class="uk-card uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; repeat: false">
					<a href="/projects#Поставяне-На-Хидроизолации-На-Нови-Покриви"><img src="55-min.jpg" draggable="false" style="width: 300px; height: 256px; margin: 0 auto; border-radius: 6.25px; display: block;"></a>
					<img src="/Icon 7.png" style="width: 56px; margin: 12.5px auto 0px auto; display: block;" draggable="false">
					<h4 style="text-align: center; margin-top: 0px;">Поставяне На Хидроизолации На Нови Покриви</h4>
				</div>
			</div>

			<div>
				<div class="uk-card uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; repeat: false">
					<a href="/projects#Дървени-Конструкции"><img src="70-min.jpg" draggable="false" style="width: 300px; height: 256px; margin: 0 auto; border-radius: 6.25px; display: block;"></a>
					<img src="/Icon 8.png" style="width: 56px; margin: 12.5px auto 0px auto; display: block;" draggable="false">
					<h4 style="text-align: center; margin-top: 0px;">Дървени Конструкции</h4>
				</div>
			</div>

			<div>
				<div class="uk-card uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; repeat: false">
					<a href="/projects#Тунели"><img src="84-min.jpg" draggable="false" style="width: 300px; height: 256px; margin: 0 auto; border-radius: 6.25px; display: block;"></a>
					<img src="/Icon 9.png" style="width: 56px; margin: 12.5px auto 0px auto; display: block;" draggable="false">
					<h4 style="text-align: center; margin-top: 0px;">Тунели</h4>
				</div>
			</div>

			<div>
				<div class="uk-card uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; repeat: false">
					<a href="/projects#Хвостохранилища"><img src="113-min.jpg" draggable="false" style="width: 300px; height: 256px; margin: 0 auto; border-radius: 6.25px; display: block;"></a>
					<img src="/Icon 10.png" style="width: 56px; margin: 12.5px auto 0px auto; display: block;" draggable="false">
					<h4 style="text-align: center; margin-top: 0px;">Хвостохранилища</h4>
				</div>
			</div>

			<div>
				<div class="uk-card uk-card-body" uk-scrollspy="cls: uk-animation-slide-left; repeat: false">
					<a href="/projects#Резервоари-За-Противопожарна-Защита"><img src="96-min.jpg" draggable="false" style="width: 300px; height: 256px; margin: 0 auto; border-radius: 6.25px; display: block;"></a>
					<img src="/Icon 11.png" style="width: 56px; margin: 12.5px auto 0px auto; display: block;" draggable="false">
					<h4 style="text-align: center; margin-top: 0px;">Резервоари За Противопожарна Защита</h4>
				</div>
			</div>
		</section><br>

		<section class="uk-child-width-1-5@m uk-grid-match" style="padding: 0px 40px;" uk-grid></section><br>
		<h4 style="text-align: center; margin-top: 0px; margin-bottom: 25px;">
			Искаш Ли Квалифициран Екип Да Направи Хидроизолацията Ти ?<br>
			<span><a href="/contacts" style="text-decoration: none;">Свържи Се С Нас</a></span>
		</h4>

		<button style="display: block; margin: 0 auto 50px auto;" class="uk-button uk-button-primary" href="#TOP" uk-scroll>ВЪРНИ СЕ В НАЧАЛОТО</button>

	</body>

</html>